
table {
	border: 1px solid;
	background: #C0C0C0;
	width: 100%;
	border-collapse: collapse;
}

#cabecalho {
	font-weight: bold;
}

table, th, td {
  border: 1px solid black;
}

table tr {
	border: 1px solid #757575;
}

table tbody tr:nth-child(odd) {
	background-color: #EEEEFF;
}

table tbody tr:hover {
	background-color: rgba(0, 0, 255, .2);
}

table th,
table td {	
	padding: 1rem;
	font-size: 1.6rem;
	text-align: center;
	height: 3rem;
}

table tr td:first-child {
	text-align: center;
	font-weight: bold;
}

table th {
	background-color: #A9A9A9;
	color: #000000;
	font-weight: bold;
	text-align: center;
	height: 70px;
}

.table-container {
	padding: 2rem 1rem;
}

.table-container h3 {
	font-size: 1.8rem;
	font-style: normal;
	margin-bottom: 1rem;
}

.table-container tfoot {
	background: #EEEEEE;
}

.table-container tfoot td {
	font-weight: bold;
}

